* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

a.active-link {
    font-weight: bold;
    text-decoration: none;
    color: #161616;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

main {
    margin-bottom: 84px;
}

footer {
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/* Host CSS */

.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}
